.menu__link {
    color: #fdfdfd;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;

}

.menu__link.activo {
    color: #00e792;
    font-weight: bold; 
 
 }
 
 .menu__link:hover {
     text-decoration: underline;
  
  }